/* SPDX-FileCopyrightText: © 2024 promising future digital media llc. All rights reserved. <admin@parleystar.com> */
/* SPDX-License-Identifier: Mozilla Public License 1.1 (MPL-1.1) 
.scbt-mobile  .scbt-desktop
.scbt-arena
.scbt-instagram
.scbt-kick
.scbt-noice
.scbt-odysee
.scbt-rumble
.scbt-shareplay
.scbt-tiktok
.scbt-twitch
.scbt-twitter
.scbt-youtube

:valid
:invalid
*/

:root {
  --arena-pink: #dc008b;
  --kick-green: rgb(83, 252, 24);
  --instagram-purple: #C13584;
  --instagram-red: #F56040;
  --instagram-orange: #FCAF45;
  --noice-blue: #6c2cfc;
  --noice-yellow: #b2e900;
  --odysee-red: #CA004B;
  --rumble-green: #85C742;
  --shareplay-black: #292932;
  --shareplay-pink: rgb(237, 56, 101);
  --tiktok-red: rgb(254, 44, 85);
  --twitter-white: #ffffff;
  --twitch-purple: #9146ff;
  --twitch-white: #f0f0ff;
  --youtube-red: #ff0000;
  --youtube-black: #282828;
}

/* display */
.scbt-arena-theme,
.scbt-instagram-theme,
.scbt-kick-theme,
.scbt-noice-theme,
.scbt-odysee-theme, 
.scbt-rumble-theme,
.scbt-shareplay-theme,
.scbt-tiktok-theme,
.scbt-twitch-theme,
.scbt-twitter-theme,
.scbt-youtube-theme,
.scbt-archyved-theme,
.scbt-arena-highlight,
.scbt-instagram-highlight,
.scbt-kick-highlight,
.scbt-noice-highlight,
.scbt-odysee-highlight,
.scbt-rumble-highlight,
.scbt-shareplay-highlight,
.scbt-tiktok-theme,
.scbt-twitch-highlight,
.scbt-twitter-highlight,
.scbt-youtube-highlight,
.scbt-archyved-highlight,
[data-tooltip].scbt-tooltip::before,
body.scbt-youtube #sz2c6youtube,
body.scbt-youtube #sz2c7youtube,
body.scbt-youtube #sz2c9youtube,
body.scbt-youtube label[for=sz2c6youtube],
body.scbt-youtube label[for=sz2c7youtube],
body.scbt-youtube label[for=sz2c9youtube],
body .scbtChatTitle, 
.kick-content-filters,
.accordion__content,
.accordion__input,
body.scbt-twitch #sz5b9,
body.scbt-twitch label[for=sz5b9],
body.scbt-twitch #sz5b11,
body.scbt-twitch label[for=sz5b11],
body.scbt-twitch #sz5b14,
body.scbt-twitch label[for=sz5b14],
body.scbt-twitch #sz5b19,
body.scbt-twitch label[for=sz5b19],
body.scbt-twitch #sz5v1,
body.scbt-twitch label[for=sz5v1],
.scbtLoadLiveViewButton,
.scbtLoadClipsButton,
.scbtVideo,
.scbtClipsToggleMenu,
.scbtClipsMenuWrapper,
.scbtLoading,
body.scbt-archyved .az6,
body.scbt-archyved .az7,
body.scbt-archyved .scbtDragSpot1, 
body.scbt-archyved .scbtDragSpot2, 
body.scbt-archyved .scbtDragSpot3,
.scbtChatMenuInner {
  display: none;
}

.scbt-settings-title label,
[data-tooltip], 
.scbtSettingsMenuForm fieldset label,
body .scbtChatMenu button,
body .scbtChatMenu search {
  display: inline-block;
}

.scbt-arena .scbt-arena-theme,
.scbt-instagram .scbt-instagram-theme,
.scbt-kick .scbt-kick-theme,
.scbt-noice .scbt-noice-theme,
.scbt-odysee .scbt-odysee-theme,
.scbt-rumble .scbt-rumble-theme,
.scbt-shareplay .scbt-shareplay-theme,
.scbt-tiktok .scbt-tiktok-theme,
.scbt-twitch .scbt-twitch-theme,
.scbt-twitter .scbt-twitter-theme,
.scbt-youtube .scbt-youtube-theme,
.scbt-archyved .scbt-archyved-theme,
.scbt-arena .scbt-arena-highlight,
.scbt-instagram .scbt-instagram-highlight,
.scbt-kick .scbt-kick-highlight,
.scbt-noice .scbt-noice-highlight,
.scbt-odysee .scbt-odysee-highlight,
.scbt-rumble .scbt-rumble-highlight,
.scbt-shareplay .scbt-shareplay-highlight,
.scbt-tiktok .scbt-tiktok-highlight,
.scbt-twitch .scbt-twitch-highlight,
.scbt-twitter .scbt-twitter-highlight,
.scbt-youtube .scbt-youtube-highlight,
.scbt-archyved .scbt-archyved-highlight,
body .scbtChatTitle.scbt-bl,
.scbt-kick .kick-content-filters,
.sz1b1,
.scbtSettingsMenuForm input[type="checkbox"],
.scbt-arena #sz1b1arena,
.scbt-instagram #sz1b1instagram,
.scbt-kick #sz1b1kick,
.scbt-noice #sz1b1noice,
.scbt-odysee #sz1b1odysee,
.scbt-rumble #sz1b1rumble,
.scbt-shareplay #sz1b1shareplay,
.scbt-tiktok #sz1b1tiktok,
.scbt-twitch #sz1b1twitch,
.scbt-twitter #sz1b1twitter,
.scbt-youtube #sz1b1youtube,
.scbt-archyved #sz1b1archyved,
.scbt-twitch label[for=sz1b1twitch], 
.scbt-rumble label[for=sz1b1rumble],
.accordion__label,
.accordion__input:checked ~ .accordion__content,
.scbtDragSpot1,
.scbtDragSpot2,
.scbtDragSpot3,
.scbtDragSpot4,
.scbt-kick .scbtLoadLiveViewButton,
.scbt-kick .scbtLoadClipsButton,
.scbt-kick .scbtVideo.scbt-bl,
.scbt-kick .scbtClipsToggleMenu.scbt-bl,
.scbt-kick .scbtClipsMenuWrapper.scbt-bl,
.scbtLoading.scbt-bl,
dialog > small {
  display: block;
}

body .scbtChatTitle.scbt-fl {
  display: flex;  
}

body .scbtSettingsMenuForm {
  display: grid; grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); grid-gap: 1rem;
}

.tiktok-xxjv3m-DivTopViewersContainer, .tiktok-1v6pqw6-DivRoomMessage {
  display: none !important;
}

/* platform colors */

#scbtX button,
#scbtX [type=button] {
  transition: 0.2s transform ease-in-out;
  will-change: transform;
}

#scbtX button:hover,
#scbtX button:focus,
#scbtX button:active,
#scbtX button:focus-within,
#scbtX button.focused,
#scbtX [type=button]:hover,
#scbtX [type=button]:focus,
#scbtX [type=button]:active,
#scbtX [type=button]:focus-within,
#scbtX [type=button].focused{
  transform: scale(1.1);
  will-change: transform;
}

body.scbt-kick .scbtSettingsMenuForm ::-webkit-scrollbar-thumb, 
body.scbt-kick .scbtSettingsMenuForm details[open],
body.scbt-kick .scbtSettingsMenuForm [type=button],
body.scbt-kick .scbtSettingsMenuForm button,
body.scbt-kick .scbtChatMenu button:hover,
body.scbt-kick .scbtChatMenu button:focus, 
body.scbt-kick .scbtChatMenu button:active,
body.scbt-kick .scbtChatMenu button.focused {
  background: var(--kick-green);
}

body.scbt-noice .scbtSettingsMenuForm ::-webkit-scrollbar-thumb, 
body.scbt-noice .scbtSettingsMenuForm details[open],
body.scbt-noice .scbtSettingsMenuForm [type=button],
body.scbt-noice .scbtSettingsMenuForm button,
body.scbt-noice .scbtChatMenu button:hover, 
body.scbt-noice .scbtChatMenu button:focus, 
body.scbt-noice .scbtChatMenu button:active,
body.scbt-noice .scbtChatMenu button.focused,
body.scbt-archyved .scbtSettingsMenuForm ::-webkit-scrollbar-thumb, 
body.scbt-archyved .scbtSettingsMenuForm details[open],
body.scbt-archyved .scbtSettingsMenuForm [type=button],
body.scbt-archyved .scbtSettingsMenuForm button,
body.scbt-archyved .scbtChatMenu button:hover, 
body.scbt-archyved .scbtChatMenu button:focus, 
body.scbt-archyved .scbtChatMenu button:active,
body.scbt-archyved .scbtChatMenu button.focused {
  background: var(--noice-yellow);
}

body.scbt-odysee .scbtSettingsMenuForm ::-webkit-scrollbar-thumb, 
body.scbt-odysee .scbtSettingsMenuForm details[open],
body.scbt-odysee .scbtSettingsMenuForm [type=button],
body.scbt-odysee .scbtSettingsMenuForm button,
body.scbt-odysee .scbtChatMenu button:hover, 
body.scbt-odysee .scbtChatMenu button:focus, 
body.scbt-odysee .scbtChatMenu button:active,
body.scbt-odysee .scbtChatMenu button.focused {
  background: var(--odysee-red);
}

body.scbt-rumble .scbtSettingsMenuForm ::-webkit-scrollbar-thumb, 
body.scbt-rumble .scbtSettingsMenuForm details[open],
body.scbt-rumble .scbtSettingsMenuForm [type=button],
body.scbt-rumble .scbtSettingsMenuForm button,
body.scbt-rumble .scbtChatMenu button:hover, 
body.scbt-rumble .scbtChatMenu button:focus, 
body.scbt-rumble .scbtChatMenu button:active,
body.scbt-rumble .scbtChatMenu button.focused {
  background: var(--rumble-green);
}

body.scbt-tiktok .scbtSettingsMenuForm ::-webkit-scrollbar-thumb, 
body.scbt-tiktok .scbtSettingsMenuForm details[open],
body.scbt-tiktok .scbtSettingsMenuForm [type=button],
body.scbt-tiktok .scbtSettingsMenuForm button,
body.scbt-tiktok .scbtChatMenu button:hover, 
body.scbt-tiktok .scbtChatMenu button:focus, 
body.scbt-tiktok .scbtChatMenu button:active,
body.scbt-tiktok .scbtChatMenu button.focused {
  background: var(--tiktok-red);
}

body.scbt-twitch .scbtSettingsMenuForm ::-webkit-scrollbar-thumb, 
body.scbt-twitch .scbtSettingsMenuForm details[open],
body.scbt-twitch .scbtSettingsMenuForm [type=button],
body.scbt-twitch .scbtSettingsMenuForm button,
body.scbt-twitch .scbtChatMenu button:hover, 
body.scbt-twitch .scbtChatMenu button:focus, 
body.scbt-twitch .scbtChatMenu button:active,
body.scbt-twitch .scbtChatMenu button.focused {
  background: var(--twitch-purple);
  color: var(--twitch-white);
  padding-left: .5rem;
}

body.scbt-youtube .scbtSettingsMenuForm ::-webkit-scrollbar-thumb, 
body.scbt-youtube .scbtSettingsMenuForm details[open],
body.scbt-youtube .scbtSettingsMenuForm [type=button],
body.scbt-youtube .scbtSettingsMenuForm button,
body.scbt-youtube .scbtChatMenu button:hover, 
body.scbt-youtube .scbtChatMenu button:focus, 
body.scbt-youtube .scbtChatMenu button:active,
body.scbt-youtube .scbtChatMenu button.focused {
  background: var(--youtube-red);
}

.scbt-desktop .round-button:hover, 
.scbt-desktop .round-button:focus, 
.scbt-desktop .round-button:active, 
.scbt-desktop .round-button.focused, 
.az2:hover, 
.az2:focus, 
.az2:active,
.az2.focused, 
.az3:hover, 
.az3:focus, 
.az3:active,
.az3.focused, 
.az4:hover, 
.az4:focus, 
.az4:active,
.az4.focused, 
.az5:hover, 
.az5:focus, 
.az5:active,
.az5.focused, 
.az6:hover, 
.az6:focus, 
.az6:active,
.az6.focused,
.az7:hover, 
.az7:focus, 
.az7:active,
.az7.focused,
button.scbt-multiple {
  background: silver;
}

#sz1n1arena:invalid, 
#sz1n1instagram:invalid, 
#sz1n1kick:invalid, 
#sz1n1noice:invalid, 
#sz1n1odysee:invalid, 
#sz1n1shareplay:invalid, 
#sz1n1rumble:invalid, 
#sz1n1tiktok:invalid, 
#sz1n1twitch:invalid, 
#sz1n1twitter:invalid, 
#sz1n1youtube:invalid {
  background: orangered;
  border: 3px solid yellow;
  color: yellow;
}

body.scbt-twitch .scbtSettingsMenuForm details[open] {
  color: #fff;
}

[data-tooltip], 
.scbtX .scbtSettingsMenuForm fieldset label, 
.scbtSettingsMenuForm summary,
.scbtSettingsMenuForm [type=button],
.scbtChatMenu span,
.scbtChatMenu button, 
.accordion__content button,
#scbtSettingsMenuForm > button {
  cursor: pointer;
}

body.scbt-youtube .scbtSettingsMenuForm legend {
  font-size: 2rem;
}

body.scbt-youtube .scbtSettingsMenuForm fieldset label, body.scbt-twitch .scbtSettingsMenuForm fieldset label {
  width: 90%;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.scbtSettingsMenuForm fieldset label:hover {
 font-size: 1.75rem; 
}

.scbtSettingsMenuForm fieldset label.scbt-no-hover:hover, 
body.scbt-twitch .scbtSettingsMenuForm legend {
 font-size: initial; 
}

.scbtSettingsMenuForm fieldset .scbt-youtube-theme label,
.scbtSettingsMenuForm fieldset .scbt-youtube-highlight label {
  width: 83%;
}

dialog.scbtSettingsMenu {
  border: none !important;
  border-radius: calc(5px * var(--ratio));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  max-width: 85%;
  margin-top: 2rem;
}

dialog.scbtSettingsMenu,
.scbtSettingsMenu [type=button] {
  padding: 1rem;
}

.scbt-popout dialog.scbtSettingsMenu,
.scbt-mobile dialog.scbtSettingsMenu {
  max-width: 100%;
  width: 100%;
}

.scbtPreviousStreams {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body .scbtSettingsMenuForm details {
  height: 2.5rem;
  overflow: scroll;
}

body.scbt-twitch .scbtSettingsMenuForm details {
  height: 4.5rem;
}

body .scbtSettingsMenuForm legend {
  font-weight: 800;
}

body .scbtSettingsMenuForm details[open] {
  height: 10rem;
}

.scbt-settings-title {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

.scbt-settings-title label {
  width: 90%;
  position: relative;
}

.scbtSettingsMenuForm small i {
  font-size: xx-small;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#scbtSnackbar {
 visibility: hidden;
 min-width: 250px;
 background-color: #333;
 text-align: center;
 border-radius: 2px;
 padding: 16px;
 position: fixed;
 z-index: 1111111;
 color: #ccc;
 right: 0px;
 bottom: 5px;
 font-size: medium;
}

 #scbtSnackbar.show {
   visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

[data-tooltip] {
  line-height: 1;
  position: relative;
}

[data-tooltip]::after {
  background-color: rgba(51, 51, 51, 0.9);
  border-radius: 0.3rem;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 1rem;
  font-size: 85%;
  font-weight: normal;
  line-height: 1.15rem;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  position: absolute;
  text-align: center;
  text-transform: none;
  transition: opacity 0.2s;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;
}

[data-tooltip].scbt-tooltip:after {
    font-size: 1rem;
    max-width: 20rem;
    position: fixed;
    bottom: auto;
    top: 50%;
    left: 50%;
    text-align: left;
    transform: translate(-50%);
    white-space: normal;
}

[data-tooltip]:focus::after, [data-tooltip][class*=-tooltip]:focus::before,
[data-tooltip]:hover::after, [data-tooltip][class*=-tooltip]:hover::before {
  visibility: visible;
  opacity: 1;
}

::backdrop {
  backdrop-filter: blur(1.5px);
}

.scbtSettingsMenuForm fieldset label, #sz5v30, #sz5v31 {
  width: 95%;
  padding-bottom: 1.5rem;
}

.scbt-kick .scbtSettingsMenuForm fieldset label {
  width: 94%;
}

.scbt-arena #sz1b1arena,
.scbt-instagram #sz1b1instagram,
.scbt-kick #sz1b1kick,
.scbt-noice #sz1b1noice,
.scbt-odysee #sz1b1odysee,
.scbt-rumble #sz1b1rumble,
.scbt-shareplay #sz1b1shareplay,
.scbt-tiktok #sz1b1tiktok,
.scbt-twitch #sz1b1twitch,
.scbt-twitter #sz1b1twitter,
.scbt-youtube #sz1b1youtube {
  margin-top: 1rem;
  line-height: 5;
}

.scbt-rumble label[for=sz1b1rumble] {
  float: right;
  margin-top: -1.5rem;
}

.scbtSettingsMenu {
  opacity: .75;
}

.scbtClipsToggleMenu, .scbtChatMenu, .scbtLoading.scbt-bl {
  position: fixed;
  top: 0px;
  z-index: 10000000;
  background: black;
  border: 1px dotted silver;
}

.scbtChatMenu {
  right: 0px;
  width: 42px;
  height: 42px;
  overflow-y: hidden;
  overflow-x: hidden;  
}

.scbtChatMenu .scbtChatSearchInputText {
  min-width: 40px;
}

.scbtChatMenu .scbtChatSearchInputText:focus,
.scbtChatMenu .scbtChatSearchInputText:active
.scbtChatMenu .scbtChatSearchInputText.focused {
  width: 120px;
}

.scbtChatMenu button {
  width: 30px;
  height: 30px;
}

.scbtChatSearchInputText {
 width: 30%;
 height: 40px;
 background: lightgray;
 color: #000;
}

.scbtChatMenuToggleButton:hover + .scbtChatMenuInner {
  display: block;
}

.scbtChatMenuInner:active {
  display: block;
}

.scbtChatMenu:hover, 



.scbt-mobile .scbtClipsToggleMenu {
  top: 300px;
}

.scbtChatSearchInputText:hover, 
.scbtChatSearchInputText:focus, 
.scbtChatSearchInputText:active, 
.scbtChatSearchInputText.focused {
  border: 1px solid red;
}

body.scbt-youtube .scbtSettingsMenuForm .scbt-youtube-theme label {
  width: 95%;
}

.scbt-accordion {
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background: #009578;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background-color: silver;
  line-height: 1.6;
  font-size: 0.85em;
  height: 200px;
  overflow: scroll;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.scbtChatTitle {
  position: absolute;
  color: red;
  z-index: 1000000;
  background: #222;
  left: 0px;
  top: 380px;     
}

.scbt-desktop .scbtChatTitle {
  left: unset;
  right: 80px;
  top: 35px;
}

body.scbt-tiktok .scbtChatTitle {
  right: 0px;
  font-size: .7rem;
}

.scbt-desktop.scbt-youtube .scbtChatTitle {
  top: 100px;
  font-size: 1rem;
}

.scbt-desktop.scbt-twitch .scbtChatTitle {
  top: 85px;
}

body .scbtSettingsMenuForm button.az3,
body .scbtSettingsMenuForm button.az4, 
body .scbtSettingsMenuForm button.az5, 
body .scbtSettingsMenuForm button.az6, 
body .scbtSettingsMenuForm button.az7 {
  background-color: #fff;
  font-size: 2rem;
}

.scbtDragSpot1,
.scbtDragSpot2,
.scbtDragSpot3,
.scbtDragSpot4 {
  z-index: 0;
  position: absolute;
  top: unset;
  bottom: 4px;
  width: 290px;
  resize:both;
  overflow:auto;
  min-height: 30px;
  min-width: 100px;
  max-height: 500px;
  max-width: 500px;
  opacity: .2;
  background-color: #222;
  border: 1px solid silver;
}

.scbtDragSpot1 {
  left: 300px;
}

.scbtDragSpot2 {
  left: 600px;
}

.scbtDragSpot3 {
  left: 900px;
}

.scbtDragSpot4 {
  bottom: unset;
  top: 60px;
  right: 0px;
}

#scbtX svg {
  position: absolute;
  background: darkgray;
  width: 40px;
  height: 40px;
  right: 0px;
  opacity: .7;
  cursor: pointer;
}

.scbtDragSpot1.scbt-active,
.scbtDragSpot2.scbt-active,
.scbtDragSpot3.scbt-active,
.scbtDragSpot4.scbt-active {
  z-index: 11;
  opacity: .5;
}

body.scbt-desktop .scbtDragSpot1.scbt-forefront,
body.scbt-desktop .scbtDragSpot2.scbt-forefront,
body.scbt-desktop .scbtDragSpot3.scbt-forefront,
body.scbt-desktop .scbtDragSpot4.scbt-forefront {
  z-index: 10000000;
  opacity: .85;
}

.setting7v1, .setting7v2, .setting7v3, .setting7v4 {
  width: 100%;
}

.scbt-kick.scbt-desktop .chat-container .chat-content[data-v-088ea48c] {
  opacity: .75;
}

.scbt-kick .scbtVideo.scbt-bl {
  position: absolute;
  z-index: 1000;
  height: 66%;
  width: 50%;
  z-index: 50;
  resize: both;
  overflow: auto;
  opacity: .75;
  border: 1px solid silver;
  min-width: 100px;
  min-height: 100px;
}

.scbt-kick .scbtClipsMenuWrapper.scbt-bl {
  position: absolute;
  top: 0px;
  width: 318px;
  min-width: 318px;
  max-width: 318px;
  z-index: 1000;
  background-color: rgb(36 39 44 / var(--tw-bg-opacity));
}

.scbt-kick .scbtClipsMenuContent {
  top: 0px;
  height: 320px;
  min-height: 320px;
  max-height: 320px;
  overflow-y: scroll;
}

.scbt-kick .scbtStreamsMenuContent {
  top: 321px;
  height: 320px;
  min-height: 320px;
  max-height: 320px;
  overflow-y: scroll;
}

body .vjs-menu-button-popup .vjs-menu.scbt-speed {
  left: unset;
}

.scbt-youtube .scbtSettingsMenuForm details {
  padding-left: .5rem;
}

.scbtSettingsMenuForm input[type="color"],
.scbtSettingsMenuForm input[type="number"],
.scbtSettingsMenuForm input[type="checkbox"] {
  width: 50px;
  height: 50px;
  opacity: 1;
}

.scbtSettingsMenuForm input[type="text"] {
  max-width: fit-content;
}

.scbt-popout .scbtSettingsMenuForm input[type="text"],
.scbt-mobile .scbtSettingsMenuForm input[type="text"] {
  height: 3rem;
}

.scbtSettingsMenuForm fieldset,
body.scbt-archyved .scbt-accordion button.scbtSortStreamsByServiceID,
body.scbt-archyved .scbt-accordion button.scbtSortStreamsByChannelID,
body.scbt-archyved .scbt-accordion button.scbtSortStreamsByVideoID,
body.scbt-archyved .scbt-accordion button.scbtSortStreamsByChan {
  font-size: .75rem;
}

body.scbt-archyved .scbt-accordion button {
  color: #000;
  font-size: 1rem;
}

body.scbt-archyved.scbt-desktop .scbtChatTitle.scbt-bl {
  left: 0px;
  right: unset;
  top: 0px;
  width: fit-content;
}

body.scbt-archyved.scbt-desktop .scbt-forefront {
  width: 100%;
  left: 0px;
  min-width: fit-content;
  max-height: 90vh;
}

body.scbt-archyved .scbtSavedChat1 {
  color: #777;
}

body.scbt-archyved .scbtChatMenu button, 
body.scbt-archyved .scbtChatMenu .button {
  margin: 0;
  border-radius: 0px;
  padding: 0px;
  background: #000;
}


@media only screen and (max-width: 640px) {

  dialog.scbtSettingsMenu {
    margin: 0;
  }

  .scbtSettingsMenuForm {
    width: min-content;
  }

  dialog > small {
    width: 300px;
    font-size: xx-small;
  }

  .scbtChatMenu {
    width: 100%;
    height: fit-content;
  }

  .scbtChatMenu button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }
}